name: Build and Deploy NLP Analytics Dashboard

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  ACR_NAME: nlpanalyticsacr01
  ACR_LOGIN_SERVER: nlpanalyticsacr01.azurecr.io
  IMAGE_NAME: nlp-analytics-dashboard
  RESOURCE_GROUP: nlp_analytics
  CONTAINERAPP_NAME: nlp-analytic-sapp

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: |
          az acr login --name $ACR_NAME

      - name: Build and push image to ACR
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

      - name: Update Container App to new image
        run: |
          az containerapp update \
            --name $CONTAINERAPP_NAME \
            --resource-group $RESOURCE_GROUP \
            --image $ACR_LOGIN_SERVER/$IMAGE_NAME:${{ github.sha }}
